<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stripe Subscriptions with Node.js</title>
</head>
<body>
    <h1>Plans</h1>

    <h2>Scale</h2>
    <p><b>$20/month</b></p>
    <p>This is the Scale plan</p>
    <a href="/api/stripe/subscribe?plan=scale">Subscribe</a>

    <br><br><br>

    <h2>Enterpise</h2>
    <p><b>$99/month</b></p>
    <p>This is the Enterprise plan</p>
    <a href="/api/stripe/subscribe?plan=enterprise">Subscribe</a>


    <h1>Customer Portal</h1>
    <p><b>You can reach customer details from provided link</b></p>
    <a href="/api/stripe/customer">Customer Portal</a>


</body>
</html>